/*header Starts Here*/
#headerlogo {
    height: 80px;
}

div#header.page-header {
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom-width: 0px;
    padding-bottom: 0px;
    text-align: center;
    background-color: #8a9392;
}


/*nav Bar Styling*/
a.navbar-brand {
    padding: 0px;
}

#navBarLogo {
    height: 50px;
}

div#bs-example-navbar-collapse-1.collapse.navbar-collapse {
    background-color: #D2DFDE;
    padding: 0;
    margin: 0;
}

nav.navbar{
    padding: 0;
    background-color: #D2DFDE;
    margin: 0;
    border:0;
}

.edge {
    background-color: #D2DFDE;
    margin:0;
}

nav.navbar a {
    color: #8a9392;
}

    nav.navbar a:hover {
        color: #D2DFDE;
        background-color: #8a9392;
    }
